# ============================================
# .env 可运行配置文件模板
# 请将您的API密钥填入对应的字段中
# 注意：不要将此文件提交到版本控制系统！
# ============================================
LOG_LEVEL=INFO

# 嵌入模型
RAG_EMBEDDING_PROVIDER=dashscope
EMBEDDING_MODEL=qwen3-embedding:4b
# ollama url
OLLAMA_EMBEDDING_BASE_URL=http://127.0.0.1:11434
# qwen embeddin
QWEN_EMBEDDING_MODEL=text-embedding-v2
# sql 数据库 目录
SQLALCHEMY_DATABASE_URL=sqlite:///./database/xunji.db
# 上传的文件储存目录
RAG_FILE_PATH=../rag
# 向量数据库持久化路径
PERSIST_DIRECTORY=../vector_store
SPLIT_FILENAME_ID=__
# 文本切分块大小
RAG_CHUNK_SIZE_CHARS=2000
# 
RAG_RESET_ON_SCHEMA_ERROR=true

# api
# deepseek api
DEEPSEEK_API_KEY=
DEEPSEEK_API_BASE=https://api.deepseek.com
# gemini
GEMINI_API_KEY=
# goole sreach model
GOOLE_SEARCH_MODEL=gemini-2.5-flash
# qwen api
QWEN_API_KEY=
# kimi api
MOONSHOT_API_KEY=
MOONSHOT_BASE_URL=https://api.moonshot.cn/v1
# qwen
DASHSCOPE_API_KEY=
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
#tavily
TAVILY_API_KEY=

# oss
SIGNED_URL_EXPIRES_SECONDS_DEFAULT=600
SIGNED_URL_EXPIRES_SECONDS_MAX=604800
OBJECT_STORAGE_PROVIDER=aliyun
ALIYUN_OSS_ACCESS_KEY_ID=
ALIYUN_OSS_ACCESS_KEY_SECRET=
ALIYUN_OSS_ENDPOINT=https://oss-cn-hangzhou.aliyuncs.com
ALIYUN_OSS_REGION=cn-hangzhou
ALIYUN_OSS_BUCKET=xunji-hadage
ALIYUN_OSS_PREFIX=chat-attachments
